<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<style>
    body
{
  background-color: #1E0338;
}
</style>
<body>

    <div class="rounded-3 position-absolute top-50 start-50 translate-middle row row-cols-1" style="position:relative;width:80%;height: 70%;border:1px solid white;">
        <div class="col">
            <h1 style="color:white;text-align: center; margin-top: 40px;">사내 문서 챗봇</h1>
        </div>

        <div class="position-absolute top-50 start-50 translate-middle row row-cols-1 col-8"style="width: 80%; height:70%">
            <div class="col">
            </div>
            <div class="col">
                <div class="row "style="height:50%">
                    <div class="row"style="display: flex;">
                        <div class="col-sm-3">
                           <h2 style="color: white; text-align: center;font-size: 5rem;margin-top: 10%;">ID</h2>
                        </div>
                        <div class="col-sm-9 " style="text-align: center;height: 57%;margin: auto;">
                            <input class="rounded-pill align-middle" type="text" style="width: 100%;height: 100%;background-color: #1E0338; border: 1px solid white;">
                        </div>
                    </div>
                        
                </div>
                <div class="row "style="margin-top:10px;height:50%;">
                    <div class="row "style="display: flex;">
                        <div class="col-sm-3">
                           <h2 style="color: white;text-align: center;font-size: 5rem;margin-top: 10%;">PW</h2>
                        </div>
                        <div class=" col-sm-9"style="text-align: center;height: 57%;margin: auto;">
                            <input class="rounded-pill" type="text" style="width: 100%;height: 100%;background-color: #1E0338; border: 1px solid white;">
                        </div>
                    </div>
                        
                </div>
            </div>
            <div class="col row"></div>
        </div>
       <div class="col row position-absolute bottom-0 start-50 translate-middle-x" style="height: 9vh;margin-bottom: 5vh;" >
            <div class="col" style=" text-align: center;">
                <button type="button" class="btn btn-primary rounded-pill" style="background:linear-gradient(#FD749B, #281AC8);width: 50vh;font-size: 2.5rem; ">Login</button>
            </div>
        
            <div class="col" style=" text-align: center;">
                <button type="button" class="btn btn-primary rounded-pill" style="background:linear-gradient(#FD749B, #281AC8);width: 50vh;font-size: 2.5rem;  ">Admin Login</button>
            </div>
        </div>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>